body {
    background-color: #efefef;
}

.separator {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1px;
    overflow: hidden;
    clear: both;
}

.separator-10 { margin: 5px 0; }
.separator-20 { margin: 10px 0; }
.separator-30 { margin: 15px 0; }
.separator-40 { margin: 20px 0; }
.separator-50 { margin: 25px 0; }
.separator-60 { margin: 30px 0; }
.separator-70 { margin: 35px 0; }
.separator-80 { margin: 40px 0; }
.separator-90 { margin: 45px 0; }
.separator-100 { margin: 50px 0; }

.muted,
.is_redeemed {
    color: #9e9e9e;
}
.is_redeemed.yes {
    color: #4caf50;
}

.offer-code {
    display: inline-block;
    margin-right: 20px;
}